.container-delivery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button-delivery {
  position: absolute;
  top: calc(10% - 80px);
  left: 70%;
}

.sheet {
  display: inline-flex;
  padding: 40px 81px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 120px;

  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.4);

  h1 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
  }
}
