.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 355px;
  margin-bottom: 20px;
}

.imageText {
  width: 400px;
  height: 115px;

  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}
