.main {
  background-image: url("../../../assets/img/Calculator/background.png");
  background-size: cover;

  display: flex;
  justify-content: space-between;

  img {
    width: 567px;
    height: 355px;
    flex-shrink: 0;
    margin: 108px auto auto 140px;
  }
}
