.calculateDelivery {
  display: flex;
  width: 502px;
  height: 570px;
  padding: 40px;
  margin: 75px 100px;

  flex-direction: column;
  justify-content: center;

  align-items: center;
  flex-shrink: 0;

  gap: 24px;
  align-self: stretch;

  border-radius: 24px;
  border: 1px solid var(--neutrals-8, #fcfcfd);
  background: #fff;

  box-shadow: 0px 40px 64px -32px rgba(15, 15, 15, 0.1);
  backdrop-filter: blur(16px);

  h1 {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 32px;
  }

  label {
    color: #979c9e;
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  select {
    display: flex;
    width: 422px;
    height: 44px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-weight: 700;
    border-radius: 8px;
    border: 1px solid #979c9e;
  }

  .textUnderline {
    display: flex;

    p {
      text-decoration: underline;
      margin-right: 5px;
      cursor: pointer;
    }
  }
}

.delivery-content {
  margin: 32px auto;
}

.calculate {
  display: flex;
  width: 336px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;

  border-radius: 90px;
  border: 1px solid #780ecb;
  background: #780ecb;
  color: #ffffff;

  margin-top: 32px;
}
